@import url('../components/header/header.scss');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
button,
input {
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #141414;
    color: #fff;
}
body, html, body > div {
    height: 100%;
}
a {
    text-decoration: none;
}

.App {
    margin-inline: auto;
    width: 80%;
    height: 100%;
}